streamlit>=1.38.0
langchain-community>=0.3.5
langchain-core>=0.3.15
langchain-groq>=0.2.1
langchain-huggingface>=0.1.1
langchain-text-splitters>=0.3.2
faiss-cpu>=1.12.0
sentence-transformers>=3.2.1
huggingface-hub>=0.26.2
pypdf>=5.1.0
docx2txt>=0.8
markdown>=3.7
python-dotenv>=1.0.1
pyngrok>=7.2.1
tiktoken>=0.8.0
